.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}
@media(max-width:1199px) {
  .photo-list {
    gap: 20px;
  }
}
@media(max-width:991px) {
  .photo-list {
    gap: 7px;
  }
}