.top-nav-bar__menu-items{
  display: flex;
}
.topic-list__item {
  line-height: 24px;
  margin-left: 24px;    
  cursor: pointer;
}
.dark .topic-list__item span {
  color: #ffffff;
}
.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #010101;
  transition: all 0.3s linear;

  &:hover,&.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #c80000;
    text-underline-offset: 8px;
  }
}