.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-color: #ffffff;    
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  box-sizing: border-box;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #010101;
  text-underline-position: auto;
}

.dark .top-nav-bar {
  background-color: #1e1e1e;
}
.dark .top-nav-bar__logo {
  color: #ffffff;
}